.dropdown-select{
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    .ant-form-item {
        flex-basis: 45% !important;
        .ant-select-selector{
            margin-left: 13px !important;
            width: 97% !important;
        }
    }
   
    label{
        font-weight: 400;
        font-size: 16px !important;
        padding-right: 22px;
        font-family: Open Sans;
    }
}