#material-form {
  .dropdown-select {
    margin-left: 106px !important;
    label{
      padding-right: 10px !important;
    }
    .ant-select-selector {
      margin-left: 24px !important;
      width: 92% !important;
    }
  }
  .ant-form-item-label{
    label{
      &::after{
        display: none !important;
      }
    }
  }
}
