#material-form{
    .dropdown-select{
        margin-left: 160px !important;
        .ant-select-selector{
            margin-left: 24px !important;
        width: 94% !important;
        }
    }
   
}