#style-form {
  button: {
    border-radius: 5px;
  }
  width: 90%;
  margin: auto;
  .style-form-control {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .image-upload-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
